/*
* ADD SHADOW AROUND CONTAINER
*/
.container-shadow {
  border-radius: 20px;
  border: 2px solid rgb(22, 150, 137);
  background-color: aquamarine;
  width: 750px;
  margin: 50px auto;
  padding-bottom: 50px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#app {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 50px;
}

.home-container {
  min-height: 350px;
}

/**
* FLEX-CSS
*/

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/**
* NavBar
*/
.navbar {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 750px;
  height: 50px;
  background-color: aquamarine;
  border-bottom: 2px solid rgb(22, 150, 137);
}

.navbar h3 {
  color: rgb(22, 150, 137);
  margin-left: 10px;
}

.nav-items {
  width: 38%;
}

.nav-items div {
  margin-right: 10px;
}

.nav-item {
  color: rgb(22, 150, 137);
  margin: 0px;
  padding: 5px;
  border: none;
  background-color: aquamarine;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nav-item:hover {
  color: aquamarine;
  background-color: rgb(22, 150, 137);
  box-shadow: #d3d3d3;
}

.formButton {
  margin-top: 10px;
  width: 70px;
  padding: 5px;
  color: rgb(22, 150, 137);
  border: 2px solid rgb(22, 150, 137);
  background-color: aquamarine;
}

.formButton:hover {
  color: aquamarine;
  background-color: rgb(22, 150, 137);
  box-shadow: #d3d3d3;
}

.label p {
  font-weight: bold;
}
/**
* AUTH PAGE
*/

.AuthContainer {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 400px;
  border: 2px solid rgb(22, 150, 137);
  text-align: center;
}

.authComp {
  width: 50%;
  margin: 22px auto;
}

.overInput {
  font-size: 10px;
  align-self: flex-end;
  margin-bottom: 3px;
  font-weight: bold;
}
/**
* TRANSACTION PAGE
*/
.innerCompLeft {
  width: 55%;
  margin-top: 20px;
  border-right: 1px solid rgb(22, 150, 137);
}
.innerCompRight {
  width: 45%;
  margin-top: 20px;
}

.singleTransactions p {
  margin-right: 30px;
}

/**
* PORTFOLIO PAGE
*/
.portfolio {
  width: 60%;
  margin: auto;
}

.singleAsset {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
}
.singleAsset p {
  width: 25%;
  text-align: center;
}

.bot-divide {
  width: 100%;
  border-bottom: 1px solid rgb(22, 150, 137);
}

.error {
  margin-top: 15px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.grey {
  color: darkgrey;
}
